<div class="page-header">
  <h1>OMdb Movie App<br><small>Search for your faves flicks by title!</small></h1>
  <form id="searchForm">
    <input type="text" id="movieTitle" required placeholder="Movie Title e.g:Legally Blonde" ng-model="movieTitle">
    <button type="submit" value="Search Here" ng-click="findMovies(this)">Search</button>
  </form>
</div>

<div>
  <img ng-src="{{movie.Poster}}" class="moviePict">
  <h3>{{movie.Title}}</h3>
  <h3>{{movie.Genre}}</h3>
  <h4>{{movie.Year}}</h4>
  <h4>{{movie.Rated}}</h4>
  <h4>{{movie.Runtime}}</h4>
  <hr>
  <h5>{{movie.Plot}}</h5>
</div>
